body{
	background-color: rgb(0,46,123);
}
.navbar {
	background-color: white;
	display: flex;
	align-items: center;
	margin:auto;
	font-family: sans-serif;
	font-size: 14px;
}

.logo {
	float:left;
	width: 140px;
	padding: 20px;
	margin-right: 20px;
	border-right: 1px solid #eceff5;
	}






/* segunda parte: após nav */

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    padding: 8% 3%;
    max-width: 600px;
}

.main_text h1 {
	font-family: 'Montserrat', sans-serif;
    font-size: 350%;
    line-height: 110%;
	font-weight: 700;
    display: flex;
    justify-content: left;
	box-sizing: border-box;
}

.body-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 120%;
	padding-top: 6%;
	display: flex;
	color: rgba(255, 255, 255, 0.7);
    max-width: 360px;
	padding-bottom: 20px;
}

.btn-cria-conta{
	width: auto;
    height: 100%;
    background-color: rgba(34, 140, 219, 1);
	border: none;
    border-radius: 7px;
    color: rgba(255, 255, 255, 1);
    padding: 16px 24px;
	font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
	max-width: 300px;	
}

.btn-cria-conta:hover {
	
}